@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.7), black),
    url("../public/bg1.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.early-life {
  background: linear-gradient(rgba(0, 0, 0, 0.7), black),
    url("../public/bg2.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
