@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.8), black),
    url("../public/bg1.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

#about {
  background: linear-gradient(rgba(0, 0, 0, 0.8), black),
    url("../public/bg2.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

/* effects */
.glow-text {
  text-shadow: 0 0 0px blue, 0 0 10px blue, 0 0 20px blue, 0 0 30px blue,
    0 0 40px blue;
}

.glow-img {
  box-shadow: 0 0 0px rgb(253 164 175), 0 0 10px rgb(253 164 175),
    0 0 20px rgb(253 164 175), 0 0 30px rgb(253 164 175),
    0 0 40px rgb(253 164 175);
}

.glow-icon {
  filter: drop-shadow(0 0 20px blue);
}

.glow-story {
  box-shadow: 0 0 0px rgb(251 146 60), 0 0 10px rgb(251 146 60),
    0 0 20px rgb(251 146 60), 0 0 30px rgb(251 146 60), 0 0 40px rgb(251 146 60);
}

.glow-heading {
  text-shadow: 0 0 0px rgb(74 222 128), 0 0 10px rgb(74 222 128),
    0 0 20px rgb(74 222 128), 0 0 30px rgb(74 222 128), 0 0 40px rgb(74 222 128);
}
