@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.7), black),
    url("../public/bg1.gif");
  background-size: auto;
  background-repeat: no-repeat;
}

#about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), black),
    url("../public/bg2.gif");
  background-size: auto;
  background-repeat: no-repeat;
}

#projects {
  background: linear-gradient(rgba(0, 0, 0, 0.5), black),
    url("../public/bg3.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

/* effects */
.glow-text {
  text-shadow: 0 0 0px blue, 0 0 10px blue, 0 0 20px blue, 0 0 30px blue,
    0 0 40px blue;
}

.glow-img {
  box-shadow: 0 0 0px rgb(22 163 74), 0 0 10px rgb(22 163 74),
    0 0 20px rgb(22 163 74), 0 0 30px rgb(22 163 74), 0 0 40px rgb(22 163 74);
}

.glow-icon {
  filter: drop-shadow(0 0 20px blue);
}

.glow-socials {
  filter: drop-shadow(0 0 40px white);
}

.glow-story {
  box-shadow: 0 0 0px rgb(251 146 60), 0 0 10px rgb(251 146 60),
    0 0 20px rgb(251 146 60), 0 0 30px rgb(251 146 60), 0 0 40px rgb(251 146 60);
}

.glow-heading {
  text-shadow: 0 0 0px rgb(74 222 128), 0 0 10px rgb(74 222 128),
    0 0 20px rgb(74 222 128), 0 0 30px rgb(74 222 128), 0 0 40px rgb(74 222 128);
}

.glow-card {
  transition: box-shadow 0.2s ease-in-out;
}

.glow-card:hover {
  box-shadow: 0 0 0px rgb(251 113 133), 0 0 10px rgb(251 113 133),
    0 0 20px rgb(251 113 133), 0 0 30px rgb(251 113 133),
    0 0 40px rgb(251 113 133);
  transition: box-shadow 0.2s ease-in-out;
}

.glow-nav-link {
  transition: text-shadow 0.2s ease-in-out;
}

.glow-nav-link:hover {
  text-shadow: 0 0 0px rgb(251 146 60), 0 0 10px rgb(251 146 60),
    0 0 20px rgb(251 146 60), 0 0 30px rgb(251 146 60), 0 0 40px rgb(251 146 60);
  transition: text-shadow 0.2s ease-in-out;
}

.glow-load {
  box-shadow: 0 0 0px skyblue, 0 0 10px skyblue, 0 0 20px skyblue,
    0 0 30px skyblue, 0 0 40px skyblue;
}
